body{
    font-family: sans-serif;
    text-align: center;
    margin-top:40px;
}
select,button{
    font-size: 24px;
    padding: 8px 12px;
    margin: 30px;
}
#timer-display{
    font-size: 48px;
    margin-top: 30;
}